@keyframes blink {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.App {
  font-family: Arial;
  font-size: 18px;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.flex-hc-vc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-vc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* navigation */

#nav-bar {
  justify-content: flex-end;
}

.spacer{
  height: 56px;
}

#logo{
  color: grey;
  font-weight: 600;
}

/* homepage cover section */

#home-cover {
  height: calc(100vh - 56px);
  min-height: 600px;
  max-height: 800px;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

#home-cover-title {
  height: calc(100vh - 56px);
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 32px;
  font-weight: 600;
}

#home-cover-img {
  height: calc(100vh - 56px);
  width: 100%;
  background-image: url('https://static.markzhengma.com/eileen-cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* home page cover list section */

#cover-list {
  position: relative;
  margin-bottom: 20px;
}

#scroll-btn {
  position: absolute;
  bottom: 6vh;
  left: calc(50% - 30px);
  width: 60px;
  padding: 2px;

  color: white;
  font-weight: 600;

  background-color: rgba(0,0,0,0.2);
  transition: background-color 0.2s;

  border-top: white solid 2px;
  border-radius: 0 0 4px 4px;
}

#scroll-btn:hover {
  background-color:rgba(0,0,0,0.6);
  cursor: pointer;
}

#icon-scroll {
  background-image: url("https://static.markzhengma.com/icon/scroll-white.png");
  animation: blink 3s infinite;
}

.title {
  font-weight: bold;
  color: #5a5a5a;;
}

.title-section {
  font-size: 20px;
  margin: auto;
  margin: 0 16px;
  width: fit-content;
}

.title-overlay {
  color: white;
  text-shadow: 1px 1px 4px black;
  font-size: 24px;
  font-weight: 800;
  margin: 0 40px;
}

.text-c {
  text-align: center;
}

.text-r {
  text-align: right;
}

.text-l {
  text-align: left;
}

#cover-1 {
  background-image: url('https://static.markzhengma.com/eileen-cover.jpg');
  height: calc(100vh - 56px);
  transition: height 0.5s;
  min-height: 305px;
  max-width: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#cover-2 {
  background-image: url('https://static.markzhengma.com/eileen-cover2.jpg');
  height: calc(100vh - 56px);
  transition: height 0.5s;
  min-height: 305px;
  max-width: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#cover-3 {
  background-image: url('https://static.markzhengma.com/meal.jpg');
  height: calc(100vh - 56px);
  transition: height 0.5s;
  max-width: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* home page program list */

.program-list {
  max-width: 1140px;
  width: 90%;
  margin-top: 20px;
  background-color: white;
  box-shadow: 4px 4px 10px rgb(209, 209, 209);
}

.program-list-single {
  position: relative;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.program-list-single-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.2s;
}

.program-list-single-overlay:hover {
  background-color: rgba(0,0,0,0.2);
}

.program-list-single-cover {
  width: 100%;
  border-radius: 6px;
  /* max-width: 450px; */
}

.program-list-single-info {
  padding: 30px 10px 10px 10px;
  color: #5a5a5a;
}

.program-list-single-info h3 {
  width: 100%;
  font-weight: 600;
  border-bottom: rgb(214, 214, 214) solid 2px;
}

.badge-new{
  background-color: #28a745;
  color: white;
  padding: 1px 3px;
  font-size: small;
  border-radius: 2px;
}

.program-list-single-info p {
  margin-top: 6px;
}

.program-list-single-span {
  font-size: small;
  font-weight: 600;
  width: 100%;
  color: rgb(180, 180, 180);
}

/* contact section */

#footer-navbar-collapse {
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 1140px;
  width: 100%;
}
#footer-navbar-links{
  margin-left: 10px;
}

.iconfont {
  font-size: 24px;
}

.icon {
  height: 80px;
  width: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
}

.icon-btn {
  height: 50px;
  width: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  margin: 10px;
  border-radius: 4px;
  border: solid white 4px;
  box-shadow: 2px 2px 4px black;
}

.icon-btn:hover{
  background-color: rgb(199, 199, 199);
  border-color: rgb(199, 199, 199);
}

.smicon-link {
  padding: 2px;
  border-radius: 6px 6px 0 0;
}

.smicon-link-selected {
  background-color: grey;
}

.icon-small {
  height: 20px;
  width: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-mid {
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.relax {
  background-image: url("https://static.markzhengma.com/icon/relax.png");
}
.icon-email {
  background-image: url("https://static.markzhengma.com/icon/email.png");
}
.icon-youtubesmall {
  background-image: url("https://static.markzhengma.com/icon/youtubesmall.png");
}
.icon-youtube {
  background-image: url("https://static.markzhengma.com/icon/youtube.png");
}
.icon-bili {
  background-image: url("https://static.markzhengma.com/icon/bili.png");
}
.icon-bilismall {
  background-image: url("https://static.markzhengma.com/icon/bilismall.png");
}
.icon-instagram {
  background-image: url("https://static.markzhengma.com/icon/instagram.png");
}
.icon-weibo {
  background-image: url("https://static.markzhengma.com/icon/weibo.png");
}
.icon-xigua {
  background-image: url("https://static.markzhengma.com/icon/xigua.png");
}
.icon-wechat {
  background-image: url("https://static.markzhengma.com/icon/wechat.png");
}
.icon-calendar {
  background-image: url("https://static.markzhengma.com/icon/calendar.png");
}

#sm-display {
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sm-display-img {
  width: 100%;
  max-width: 400px;
}
#sm-btn {
  width: 80%;
  max-width: 300px;
  margin: 10px 0;
}

#copyright {
  padding-left: 10px;
  font-size: small;
}

.popover-contact {
  width: fit-content;
}

.contact-img {
  width: 100px;
}

/* program single page */

.program-single-page {
  min-height: 80vh;
  font-style: italic;

  /* test */
  background-color: #F9F8E6;
}

.program-single-banner-bg {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.program-single-banner {
  width: 100%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 56px;

  color: white;
  /* padding: 10px; */
}

.program-single-infobox {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  padding: 10px;
}

.program-single-title {
  font-size: 34px;
  font-weight: 600;
  border-bottom: solid white 2px;
}

.program-single-calendar {
  /* display: flex;
  flex-direction: column; */
  padding: 20px 10px;
  padding: 10px;
  max-width: 1200px;
  /* background-color: darkgray; */
}

.program-single-day {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  /* test */
  border-left: #89937A solid 2px;
}

.program-single-day-title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* test */
  background-color: #89937A;
}

.program-single-day-time {
  color: #FF931F;
  padding: 10px 20px;
  /* background-color: #fa6f6f; */
}

.program-single-day-title {
  /* color: khaki; */
  padding: 5px 15px;
  display: flex;
  align-items: center;
  color: #F8F9FA;
}

.program-single-day-title-txt {
  font-weight: 600;
}

.program-single-day-detail {
  font-weight: 800;
  padding-left: 15px;
}

.program-single-day-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  min-height: 200px;
}

.program-single-box {
  width: 80vw;
  max-width: 360px;
  min-width: 240px;
  height: 45vw;
  max-height: 202.5px;
  min-height: 135px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  box-shadow: 1px 1px 4px black;
  border-radius: 4px;
  color: white;
  text-shadow: 1px 1px 4px black;

  display: flex;
  align-items: flex-end;

  position: relative;
}

.program-single-box-icon {
  margin-left: 12px;
}

.program-single-box-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* 
.program-single-box-overlay:hover{
  opacity: 1;
} */

.program-single-box-title-container {
  /* height: 100%; */
  width: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.7));
  font-size: 16px;
  padding: 6px;
  text-align: end;
  /* opacity: 0;
  transition: opacity 0.2s; */
}

/* .program-single-box-title-container:hover {
  opacity: 1;
} */

/* construction page */

.construction-page {
  width: 100vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative
}

#construction-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
}


@media (min-width: 540px) {
  .App {
    font-size: 20px;
  }

  #home-cover-title {
    width: 50%;
    position: static;
    background-color: white;
    color: #5a5a5a;
  }

  #home-cover-img {
    width: 50%;
  }

  .program-list-single {
    flex-direction: row;
  }

  .program-list-single-cover {
    width: 50%;
    max-width: 400px;
  }

  .program-list-single-info {
    padding: 40px;
  }

  /* .program-list {
    width: 100%;
  }
  .program-list-single {
    max-width: 300px;
  }

  .program-overlay {
    top: 0px;
    transition: top 0.1s linear;
  }
  
  .program-overlay:hover {
    top: -60px;
  } */

}