.App {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: small;
  background-color: #f8f9fa;
}

#nav-bar {
  justify-content: flex-end;
}

.flex-hc-vc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-vc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spacer{
  height: 56px;
}

#cover-list {
  position: relative;
  margin-bottom: 20px;
}

#scroll-btn {
  position: absolute;
  bottom: 6rem;
  width: 60px;
  left: calc(50% - 30px);
}

.title {
  font-weight: bold;
  padding-bottom: 20px;
}

.title-section {
  font-size: 20px;
  margin: auto;
  max-width: 1140px;
  width: 100%;
}

.title-overlay {
  color: white;
  text-shadow: 1px 1px 4px black;
  font-size: 24px;
  margin: 0 40px;
}

.text-c {
  text-align: center;
}

.text-r {
  text-align: right;
}

.text-l {
  text-align: left;
}

#cover-1 {
  background-image: url('https://static.markzhengma.com/eileen-cover.jpg');
  height: calc(100vh - 56px);
  max-width: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#cover-2 {
  background-image: url('https://static.markzhengma.com/eileen-cover2.jpg');
  height: calc(100vh - 56px);
  max-width: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#cover-3 {
  background-image: url('https://static.markzhengma.com/meal.jpg');
  height: calc(100vh - 56px);
  max-width: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chapter-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1140px;
  width: 100%;
}

.chapter-single {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 6px grey;
}

.chapter-cover {
  width: 100%;
}

.chapter-overlay {
  position: absolute;
  top: -60px;
  height: calc(100% + 60px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  padding: 0 10px;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.7));
  cursor: pointer;
}

.chapter-title {
  font-size: 24px;
  font-weight: bold;
}

.badge-new{
  background-color: #28a745;
  padding: 1px 3px;
  font-size: small;
  border-radius: 2px;
}

.chapter-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chapter-detail {
  height: 60px;
  margin-top: 10px;
  overflow: scroll;
}

#footer-navbar {
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  max-width: 1140px;
  width: 100%;
}

.iconfont {
  font-size: 24px;
}

#sm-display {
  width: 100%;
  height: 280px;
  max-width: 400px;
}
#sm-display-img {
  width: 100%;
}
#sm-btn {
  width: 100%;
  margin-top: 10px;
}

#copyright {
  padding-left: 10px;
  font-size: small;
}

.popover-contact {
  width: fit-content;
}

.contact-img {
  width: 100px;
}



@media (min-width: 540px) {
  .App {
    font-size: 16px;
  }

  .chapter-list {
    width: 100%;
  }
  .chapter-single {
    max-width: 300px;
  }

  .chapter-overlay {
    top: 0px;
    transition: top 0.1s linear;
  }
  
  .chapter-overlay:hover {
    top: -60px;
  }

}